@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather+Sans:wght@300..800&display=swap');

body {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}


:root {
  // light theme text colors
  --white: #fff;
  --black: #e9e9e9;
  --primary: #4d4d4d;
  --icon-color: #212121;

  --questbg: #e1f0ff;
  --questtext: black;
  --questExpandBd: #d1d1d1;
  --input-container: #fff;
  --submit-btn-bg: #003366;

  // light theme background colors

  --primary-dark-bg: #003366;
  --secondary-dark-bg: #ffffff;
  --therd-dark-bg: #f2f3f5;
  --therd-dark-bg2: #ffffff;
  ;
  --read-more-color: #003366;



  --quest-hoverbg: #E9EEF6;

  --tw-shadow-color: rgba(60, 64, 67, 0.3);

  --mobile-padding: 0.6rem;
}

[data-theme="dark"] {

  // dark theme text colors
  --white: #c3c3c3;
  --black: #303030;
  --primary: #c3c3c3;
  --icon-color: #989898;



  --questbg: #333537;

  // dark theme background colors
  --primary-dark-bg: #171717;
  --secondary-dark-bg: #212121;
  // --therd-dark-bg: #383737;
  --therd-dark-bg: #383737;
  --therd-dark-bg2: #383737;
  --read-more-color: #5b86b1;

  --tw-shadow-color: rgba(60, 64, 67, 0.3);



  --quest-hoverbg: #444444;
  --questtext: #c3c3c3;
  --questExpandBd: #c3c3c3;
  --input-container: #333537;
  --submit-btn-bg: #525252;
}





.grecaptcha-badge {
  display: none !important;
}

:root {
  --sidebar-width2: 24%;

}

* {
  // margin-block-start: 0;
  // margin-block-end: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app {
  // height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

.mainContainer {
  width: 100%;
  height: 100%;
  // background-color: red;
  display: flex;

  .sidebar_abh {
    background-color: var(--primary-dark-bg);
    width: var(--sidebar-width2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 240px;
    max-width: 275px;

    .logoDiv {
      margin-bottom: 1rem;
      margin-left: 0.22rem;
      display: none;

      img {
        width: 1.6rem;
        height: auto;
      }
    }

    .listbox {
      // margin-top: 1rem;
      color: var(--white);
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .sidebar_block {
      margin-top: 2rem;

      p {
        padding: 0.22rem 0.36rem;
        position: relative;
        display: flex;
        align-items: flex-end;
      }

      .ttlquicklink {
        display: flex;
        flex-direction: column;
        gap: 0.36rem;
      }

      svg,
      p svg {
        // width: 1.36rem;
        // height: 1.36rem;
        width: 1.22rem;
        height: 1.22rem;
      }

      h5 {
        // font-weight: lighter;
        // color: ;
        font-size: 0.84rem;
      }

      .sidebar-text.hidden {
        display: none;
      }

      .sidebar-icon {
        position: relative;
        display: flex;
        align-items: center;
      }

      &:has(span.hidden) {
        svg {
          width: 1.33rem;
          height: 1.33rem;
        }


        .sidebar-icon svg {
          // fill: red ;
          margin-left: -2px;
        }

        // .sidebar-icon svg {
        //   fill: yellow;
        // }



        [data-tooltip-id="nav1"] svg {
          transform: scale(1.25);
        }
      }


    }



    .sidebar_block:first-of-type {
      margin-top: 1rem;
      margin-top: 0;

      gap: 0.36rem;
      display: flex;
      flex-direction: column;
    }

    span {
      color: var(--white);
      display: flex;
      align-items: center;
    }
  }

  .bodyContainer {
    background-color: var(--secondary-dark-bg);
    width: calc(100% - var(--sidebar-width2));
    width: -webkit-fill-available;
    height: 100vh;

    .workingContainer {
      // background-color: var(--primary-dark-bg);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      // height: 100%;
      padding: 1rem 0 0.6rem 0;
      height: 100vh;
      // height: calc(100% - 2rem);

      .head_c {
        // background-color: purple;

        width: 95%;

        display: flex;

        // justify-content: flex-end;

        justify-content: space-between;

        align-items: center;

        gap: 1rem;

        // border: 1px solid red;

        padding: 0 1rem 1rem 1rem;

        .leftside {
          display: flex;
          gap: 1rem;

          .mobile-menu-toggle {
            color: var(--primary);
            font-size: 1.5rem;
            display: none;
          }


          .main {
            img {
              width: 1.8rem;
              height: 1.8rem;
            }

            color: var(--primary);
          }
        }

        .middle {
          .logo-container {
            color: var(--primary);

            img {
              width: 1.6rem;
              height: auto;
            }
          }

          h4 {
            // margin-top: -2px;
            font-family: "Lato", sans-serif;
          }

          // display: none;
          .logoDiv {
            display: none;
          }
        }

        .rightside {
          display: flex;
          // float: right;
          align-self: flex-start;
          gap: 1rem;
        }

        .clear-history-btn {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: normal;
          // justify-content: c;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .clear-hst-ic-txt {
          button {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: normal;
            justify-content: flex-end;
          }
        }

        button.theme-toggle {
          width: 1.4rem;
          height: 1.4rem;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      // .wc_item {
      //   width: max-content;
      // }

      .thin_width {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: -webkit-fill-available;
        // gap: 1rem;
        flex-grow: 1;
        overflow-y: auto;
        // border: 1px solid;

        .conents_c {
          // background-color: #a6a6a6;
          flex-grow: 1;
          width: 100%;
          overflow-y: auto;
          // padding: 0 1rem;
          padding-right: 0.52rem;
          padding-left: 0.52rem;

          // ::-webkit-scrollbar {
          //   width: 10px;
          // }


          flex-grow: 1;
          width: 100%;
          overflow-y: auto;
          // height: 70%;



          .history-items:first-child {
            // margin-top: 1rem;
          }

          .history-card.expanded {
            h4 {
              margin-bottom: 0.6rem;
            }
          }


          .answer-preview {
            p {
              margin-bottom: 0.34rem;
              font-size: 1.2rem;
              line-height: 1.6;

              strong {
                margin-bottom: 0.2rem;
              }
            }

          }

          .answer-preview> :nth-last-child(3) {
            // margin-bottom: 0;
          }

          .answer-preview> :nth-last-child(2) {

            // border: 1px solid yellow;
            a {
              line-height: 1;
              // background-color: #e7e7e7;
              padding: 0 0.3rem;
              padding-bottom: 0.2rem;
              font-size: 0.9rem;
              font-weight: 600;
              border-radius: 4px;
              border: 1px solid #d8d8d87b;
            }

            a::after {
              // content: ' →';
            }
          }





          .dataviz-section {
            // background-color: rgb(231, 231, 231);
            border: 1px solid #7a7a7a75;

            margin-top: 2rem;
            // padding: 1rem;
            padding: 0.7rem 1rem 1rem 1rem;
            // padding-top: 1rem;
            border-radius: 5px;

            .rlte-tite {
              color: var(--primary);
              // margin-bottom: 1rem;
            }

            .iframe-coner {
              // border: 1px solid green;
              // padding-top: 1rem;
              // margin-top: 1rem;
              // padding: 5rem;
              // width: 96%;
              margin: auto;
              /* Set your desired height */
              // position: relative;
              overflow: hidden;
              top: 1rem;
              // bottom: 1rem;
              width: 100%;
              height: 450px;
              overflow: hidden;
              margin-top: 1rem;


              display: flex;
              flex-direction: column;

              iframe {
                // border: none;
                width: 80%;
                // height: calc(100% - 6rem);

                border: none;
                flex-grow: 1;
              }
            }
          }



          .trending-questions {

            li.history-card {
              // border: 1px solid #858585;

            }

            li.history-card:hover .expand-container {
              display: block;
            }

            li.history-card:last-of-type {
              margin-bottom: 2rem;
            }



            .question-content {
              justify-content: flex-end;

              h4 {
                background-color: var(--questbg);
                // color: ;
                line-height: 1.6;
                // padding: 0.4rem .6rem;
                padding: 0.6rem 1rem;
                // border-radius: 0 1.6rem 1.6rem 1.6rem;
                border-radius: 1rem;
                margin-bottom: 0.8rem;
                font-weight: normal;
                color: var(--questtext);
                font-family: "Lato", sans-serif;
              }


              .answer-content {
                background-color: none;
                display: flex;
                justify-content: flex-start;


                .expand-container {
                  border: none;
                  outline: none;


                  // .text-expand-rk .expand-answer-icon {
                  //   display: flex;
                  // }


                }


                .answer-icon .chatbot_orb {
                  width: 2.6rem;
                }
              }
            }
          }




        }

        .foot_c {
          // background-color: yellow;
          width: 100%;


          .info {
            // display: none;
            color: var(--primary);
            margin-bottom: 0.5rem;

            h2 {
              font-size: 2rem;
            }

            p {
              font-size: 1.2rem;
            }
          }


          .footer-content {
            width: 100%;
            // background-color: var(--primary-dark-bg);
            color: var(--white);
            border-radius: 0.75rem;
            padding: 0 0 0.6rem 0;
            // overflow: visible;

            .input-container {
              background-color: var(--input-container);
              border: none;
              // border: 1px solid #c9c9c9;
              // border: 1px solid black;
              border-radius: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0.6rem 0.8rem;
              position: relative;
              // padding: 0.8rem 1rem;
              // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
              // box-shadow: #00000014 0px 3px 12px;
              // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
              // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

              input,
              textarea {
                width: -webkit-fill-available;
                outline: none;
                border: none;
                font-size: 1rem;
                // background-color: var(--secondary-dark-bg);
                background-color: transparent;
                color: var(--primary);
                margin: 0;
                padding: 0;
                resize: none;
              }

              button {
                display: flex;
                align-items: center;
                // border: 1px solid black;
                background-color: var(--submit-btn-bg);
                color: white;
                border-radius: 50%;
                // background-color: var(--secondary-dark-bg);
                // color: var(--icon-color);
                padding: 0.4rem;
                position: absolute;
                bottom: 0.6rem;
                right: 0.6rem;
                outline: none;
                border: none;

                svg {
                  font-size: 1.4rem;
                  transform: translateX(2px);
                }
              }

              button:hover {
                background-color: #345a80;
                cursor: pointer;
              }
            }

            // .input-container input:focus .input-container {
            //   border: 1px solid #003366;
            // }


            .input-container:focus-within {
              // border: 1px solid #003366;
            }


          }

          .disclaimer_div {
            // background-color: rgb(255, 181, 181);
            font-size: 0.65rem;
            width: 95%;
            margin: auto;
            margin-top: 0.2rem;
            color: var(--primary);
          }
        }


      }
    }
  }
}



.cler-hst-ic,
.dark-mode-container {
  position: relative;
  /* tooltip_text ka position sahi rakhne ke liye */
  display: inline-block;
  font-size: 1.2rem;
  display: flex;
}

.cler-hst-ic:hover .tooltip_text,
.sidebar-icon:hover .tooltip_text,
.dark-mode-container:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .mobile-menu-toggle {
    color: var(--primary);
    font-size: 1.5rem;
    display: flex !important;
  }



  .tooltip-wrapper {
    display: none;
  }


  .middle {
    display: block !important;
  }

  .logo-container img {
    color: var(--primary);
    width: 1.6rem;
    height: auto;
  }

  .questions-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .mainContainer {
    .bodyContainer {
      .workingContainer {
        // height: 100%;
        // height: 300px;

        // padding-top: var(--mobile-padding);
        .thin_width {
          width: calc(100% - calc(var(--mobile-padding) * 2));

          // .foot_c {
          //   .disclaimer_div {
          //     width: 100%;
          //     font-size: 0.64rem;
          //   }
          // }
          /* Make the footer fixed and scrollable */
          .foot_c {
            // position: fixed;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // max-height: 50vh;
            // /* Adjust height as needed */
            // overflow-y: auto;
            // z-index: 1000;
            // background-color: var(--primary-dark-bg);
            /* ensure background covers content */

            // height: 15%;
            overflow-y: auto;
          }

          /* Hide disclaimer by default - make this more specific */
          .foot_c .disclaimer_div {
            // display: none !important;
            /* Using !important to override any other styles */
            transition: opacity 0.3s ease;
          }

          /* Only when the footer has the class 'scrolled-bottom', show the disclaimer */
          .foot_c.scrolled-bottom .disclaimer_div {
            display: block !important;
            /* Using !important to override */
          }

          .history-items:first-child {
            margin-top: 1rem;
          }



          // .dataviz-section {
          //   .iframe-coner {
          //     iframe {
          //       width: 100%;
          //     }
          //   }
          // }








        }

        .head_c {
          // padding: 0 0.5rem 0.5rem 0.5rem;
          padding: 0 var(--mobile-padding) 1rem var(--mobile-padding);
          border-bottom: 1px solid #80808063;

          // .leftside {
          //   .main {
          //     display: none;
          //   }
          // }
        }
      }
    }

    .input-container {
      width: 95%;
    }

    iframe.responsive-iframe {
      width: 100%;
      // height: 100%
    }
  }

  .footer-content {
    text-align: center;

    h2 {
      font-size: 1rem;
    }

    p {
      margin: 0 0 0.4rem 0;
      font-size: 0.6rem;
    }
  }

  .sources-section ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .loading-sour {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .question-content h4 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  .answer-content p.answer-preview {
    font-size: 0.9rem;
  }

  // faq
  .faq-content {
    margin-top: 2rem;
  }

  .sidebar_abh {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: 250px;
    height: 100%;
    background: var(--primary-dark-bg);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 1000;




    .logoDiv {
      display: block;
      // transition: color 0s linear 0.2s
    }



  }


  .mainContainer .bodyContainer .workingContainer .thin_width .conents_c .dataviz-section .iframe-coner iframe {
    width: 100%;
  }

  .mainContainer .bodyContainer .workingContainer .thin_width .conents_c .dataviz-section .iframe-coner {
    height: 350px;
  }

  .mainContainer {
    // height: 100vh;
    max-height: 100%;

    .bodyContainer {
      height: 100%;
      max-height: 100%;
      position: fixed;
      right: unset;
      width: 100%;
      // margin-bottom: 0 !important;
      height: 100%;
      // display: flex;
      top: 0;
      bottom: 0;
      z-index: 999;


      .workingContainer {
        height: 100%;

        .thin_width {
          // height: 50%;

          .conents_c {
            flex-grow: 1;
            // height: calc(100% - 16%);
            // height: 50%;
            height: 70vh;
            overflow-y: auto;



            .answer-preview {
              p {
                font-size: 1rem;
              }
            }


            .answer-icon {
              margin-left: -3px;

              .chatbot_orb {
                width: 2.2rem;
              }

            }

            .expand-container {
              right: 42%;
            }
          }

          .foot_c {
            // height: 15dvh;
            // min-height: 15vh;
            // max-height: 15vh;
            // height: 14.4vh;
            height: 17.1vh; // 8.65vh
            // height: 9.66vh; //17.1vh | 9.66vh 
            // clip-path: inset(0px -20px 0px -20px); 
            position: relative;

            .input-container {
              margin-top: 4px;
            }


            .disclaimer_div {
              margin-top: 0.3rem;
            }

            .info {
              display: flex;
              flex-direction: column;
              gap: 0.4rem;

              h2 {
                font-size: 1.16rem
              }

              p {
                // font-size: clamp(0.7rem, 0.9rem, 1rem);
                font-size: 0.76rem;

              }
            }

          }

          .withGotQ {
            height: 17.1vh;
          }

          .withoutGotQ {
            height: 9.66vh;
          }

          .foot_c::-webkit-scrollbar {
            display: none;
          }


          // all headings in mobile size
          .questions-grid {

            // background-color: red;
            .text-2xl.font-bold {
              font-size: 1.4rem;
            }


            .question-card h4 {
              font-size: 1rem;
            }
          }

          .questions-grid .question-card {
            // background-color: red;
            height: fit-content;
          }


        }
      }
    }
  }
}